<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<dictionary>
  <key>INGREDIENTS</key>
  <value>
    <collection>
      <itemcol>
        <word>INGREDIENTS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
      <itemcol>
        <word>INGREDIENTS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\TCF - OEGU 209739-0.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>INGREDIENT</key>
  <value>
    <collection>
      <itemcol>
        <word>INGREDIENT</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DILUTED</key>
  <value>
    <collection>
      <itemcol>
        <word>DILUTED</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>CONDITIONS</key>
  <value>
    <collection>
      <itemcol>
        <word>CONDITIONS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DISPOSAL</key>
  <value>
    <collection>
      <itemcol>
        <word>DISPOSAL</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
      <itemcol>
        <word>DISPOSAL</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\TCF - OEGU 209739-0.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>CANADIAN</key>
  <value>
    <collection>
      <itemcol>
        <word>CANADIAN</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIN</key>
  <value>
    <collection>
      <itemcol>
        <word>DIN</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DISC</key>
  <value>
    <collection>
      <itemcol>
        <word>DISC</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DISCHARGE</key>
  <value>
    <collection>
      <itemcol>
        <word>DISCHARGE</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIAM</key>
  <value>
    <collection>
      <itemcol>
        <word>DIAM</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>MODIFICA</key>
  <value>
    <collection>
      <itemcol>
        <word>MODIFICA</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>COMANDI-ALLARMICOMMAND-ALARM</key>
  <value>
    <collection>
      <itemcol>
        <word>COMANDI-ALLARMICOMMAND-ALARM</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DISTINTA</key>
  <value>
    <collection>
      <itemcol>
        <word>DISTINTA</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIA</key>
  <value>
    <collection>
      <itemcol>
        <word>DIA</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>IDRODINAMIC</key>
  <value>
    <collection>
      <itemcol>
        <word>IDRODINAMIC</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DISEGNO</key>
  <value>
    <collection>
      <itemcol>
        <word>DISEGNO</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>CODICE</key>
  <value>
    <collection>
      <itemcol>
        <word>CODICE</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>EDIZIONE</key>
  <value>
    <collection>
      <itemcol>
        <word>EDIZIONE</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIRETTIVA</key>
  <value>
    <collection>
      <itemcol>
        <word>DIRETTIVA</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIRECTIVE</key>
  <value>
    <collection>
      <itemcol>
        <word>DIRECTIVE</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIMENSIONI</key>
  <value>
    <collection>
      <itemcol>
        <word>DIMENSIONI</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIMENSIONS</key>
  <value>
    <collection>
      <itemcol>
        <word>DIMENSIONS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIFFERING</key>
  <value>
    <collection>
      <itemcol>
        <word>DIFFERING</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIFFERENTI</key>
  <value>
    <collection>
      <itemcol>
        <word>DIFFERENTI</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>CONDITION</key>
  <value>
    <collection>
      <itemcol>
        <word>CONDITION</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>CONDIZIONI</key>
  <value>
    <collection>
      <itemcol>
        <word>CONDIZIONI</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIFFERENT</key>
  <value>
    <collection>
      <itemcol>
        <word>DIFFERENT</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DISEGNI</key>
  <value>
    <collection>
      <itemcol>
        <word>DISEGNI</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>GROUNDING</key>
  <value>
    <collection>
      <itemcol>
        <word>GROUNDING</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIAGRAMS</key>
  <value>
    <collection>
      <itemcol>
        <word>DIAGRAMS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIRECTIVEThe</key>
  <value>
    <collection>
      <itemcol>
        <word>DIRECTIVEThe</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>ADDITIONAL</key>
  <value>
    <collection>
      <itemcol>
        <word>ADDITIONAL</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>39DIMENSIONS</key>
  <value>
    <collection>
      <itemcol>
        <word>39DIMENSIONS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>40DIMENSIONS</key>
  <value>
    <collection>
      <itemcol>
        <word>40DIMENSIONS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>41DIMENSIONS</key>
  <value>
    <collection>
      <itemcol>
        <word>41DIMENSIONS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>holesDIMENSIONS</key>
  <value>
    <collection>
      <itemcol>
        <word>holesDIMENSIONS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>46DIMENSIONS</key>
  <value>
    <collection>
      <itemcol>
        <word>46DIMENSIONS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>47DIMENSIONS</key>
  <value>
    <collection>
      <itemcol>
        <word>47DIMENSIONS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>2DIP</key>
  <value>
    <collection>
      <itemcol>
        <word>2DIP</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Mi Swaco 90-91-093 BEM 650-10T4.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>CONDITIONING</key>
  <value>
    <collection>
      <itemcol>
        <word>CONDITIONING</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\TCF - OEGU 209739-0.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIOXIDE</key>
  <value>
    <collection>
      <itemcol>
        <word>DIOXIDE</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\TCF - OEGU 209739-0.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>INDICATIONS</key>
  <value>
    <collection>
      <itemcol>
        <word>INDICATIONS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\ PRELIMINARY REPORT 09-12-14.pdf</filepath>
      </itemcol>
      <itemcol>
        <word>INDICATIONS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\PRELIMINARY REPORT 07-12-14.pdf</filepath>
      </itemcol>
      <itemcol>
        <word>INDICATIONS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\PRELIMINARY REPORT 10-12-14.pdf</filepath>
      </itemcol>
      <itemcol>
        <word>INDICATIONS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\PRELIMINARY REPORT 12-12-14.pdf</filepath>
      </itemcol>
      <itemcol>
        <word>INDICATIONS</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\PRELIMINARY REPORT 14-12-14.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DISCONTINUITY</key>
  <value>
    <collection>
      <itemcol>
        <word>DISCONTINUITY</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\ PRELIMINARY REPORT 09-12-14.pdf</filepath>
      </itemcol>
      <itemcol>
        <word>DISCONTINUITY</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\PRELIMINARY REPORT 07-12-14.pdf</filepath>
      </itemcol>
      <itemcol>
        <word>DISCONTINUITY</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\PRELIMINARY REPORT 10-12-14.pdf</filepath>
      </itemcol>
      <itemcol>
        <word>DISCONTINUITY</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\PRELIMINARY REPORT 12-12-14.pdf</filepath>
      </itemcol>
      <itemcol>
        <word>DISCONTINUITY</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\PRELIMINARY REPORT 14-12-14.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIVING</key>
  <value>
    <collection>
      <itemcol>
        <word>DIVING</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\ PRELIMINARY REPORT 09-12-14.pdf</filepath>
      </itemcol>
      <itemcol>
        <word>DIVING</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\PRELIMINARY REPORT 07-12-14.pdf</filepath>
      </itemcol>
      <itemcol>
        <word>DIVING</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\PRELIMINARY REPORT 10-12-14.pdf</filepath>
      </itemcol>
      <itemcol>
        <word>DIVING</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\PRELIMINARY REPORT 12-12-14.pdf</filepath>
      </itemcol>
      <itemcol>
        <word>DIVING</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\PRELIMINARY REPORT 14-12-14.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>INDICATION</key>
  <value>
    <collection>
      <itemcol>
        <word>INDICATION</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\PRELIMINARY REPORT 12-12-14.pdf</filepath>
      </itemcol>
    </collection>
  </value>
  <key>DIVERTER</key>
  <value>
    <collection>
      <itemcol>
        <word>DIVERTER</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefeng.3027\Tech Diving Dec 2014\PRELIMINARY REPORT 14-12-14.pdf</filepath>
      </itemcol>
    </collection>
  </value>
</dictionary>