<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<dictionary>
  <key>OBSTACLES</key>
  <value>
    <collection>
      <itemcol>
        <word>OBSTACLES</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\captain.3027\SOC Tours\08.- AGOSTO\08 PONTON DE LADO STB CTO.pdf</filepath>
        <Paragraphs>OBSTACLES IN EVACUATION ROUTE  BUEN ORDEN Y LIMPIEZA </Paragraphs>
      </itemcol>
      <itemcol>
        <word>OBSTACLES</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\captain.3027\SOC Tours\2014\04.- ABRIL\29 Cementing Unit.pdf</filepath>
        <Paragraphs>ENTRY ACCES FREE OF OBSTACLES AND CLEAN </Paragraphs>
      </itemcol>
      <itemcol>
        <word>OBSTACLES</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\captain.3027\SOC Tours\2014\06.- JUNIO\12 Jun Doghouse Main Deck.pdf</filepath>
        <Paragraphs>SE ENCONTR323 QUE ALGUNAS PARTES DEL PISO ESTAN GRASOSAS/ACEITOSASIN GENERAL ROOM WAS FREE OF OBSTACLES AND MOSTLY CLEAN</Paragraphs>
      </itemcol>
    </collection>
  </value>
  <key>RECEPTACLE</key>
  <value>
    <collection>
      <itemcol>
        <word>RECEPTACLE</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\chiefofficer.3027\Thuster instalation (Receptacle)\Volume 01 Section 02.pdf</filepath>
        <Paragraphs>le Propulsion System 110600364.doc  17.12.2008  Page 7 of 110  4  MOUNTING OF THE RECEPTACLE  </Paragraphs>
      </itemcol>
      <itemcol>
        <word>RECEPTACLE</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\RSTC.3027\Catalog\MSA-Catalogue.pdf</filepath>
        <Paragraphs>3. STANCHION DAVIT ARM &amp; RECEPTACLE FOR I036BEAM MOUNTINGLynx Rescuer</Paragraphs>
      </itemcol>
    </collection>
  </value>
  <key>A401ACLIENT</key>
  <value>
    <collection>
      <itemcol>
        <word>A401ACLIENT</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\Fernando.Diaz\procedimientos - gas y fuego\gas y fuego\detector list.pdf</filepath>
        <Paragraphs>A401ACLIENT BED ROOMCLIENT BED ROOM A401A1ST ACCOM3026DA961E016F758TYCO811PHZ</Paragraphs>
      </itemcol>
    </collection>
  </value>
  <key>RECEPTACLE1DRAWWORK</key>
  <value>
    <collection>
      <itemcol>
        <word>RECEPTACLE1DRAWWORK</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\RSTC.3027\00- Prearanque de Pozo Nubiles-1\Hazardous Area Electrical Equipment List.pdf</filepath>
        <Paragraphs>5912-EW-006POWERWELDING RECEPTACLE1DRAWWORK / ZONE 2Cooper Crouse-HindsGermanyGHG 514 4407 R3001PTB 00 ATEX 1070&lt;Ex&gt; II 2G EEx </Paragraphs>
      </itemcol>
    </collection>
  </value>
  <key>SPECTACLE</key>
  <value>
    <collection>
      <itemcol>
        <word>SPECTACLE</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\RSTC.3027\Catalog\5555-82-mc_msasafetyproductscatalog.pdf</filepath>
        <Paragraphs>safety.com SPECTACLE</Paragraphs>
      </itemcol>
    </collection>
  </value>
  <key>RECEPTACLEen-US</key>
  <value>
    <collection>
      <itemcol>
        <word>RECEPTACLEen-US</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\RSTC.3027\Catalog\MSA-Catalogue.pdf</filepath>
        <Paragraphs> en-US1. VERTICAL DAVIT ARM LADDER MOUNT &amp; RECEPTACLEen-US</Paragraphs>
      </itemcol>
    </collection>
  </value>
  <key>SPECTACLES</key>
  <value>
    <collection>
      <itemcol>
        <word>SPECTACLES</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\RSTC.3027\Catalog\slika~Honeywell Catalog 2013 2014.pdf</filepath>
        <Paragraphs>Failure to follow such instructions could result in serious injury including diminution or loss of vision. SAFETY SPECTACLES </Paragraphs>
      </itemcol>
    </collection>
  </value>
  <key>PECTACLES</key>
  <value>
    <collection>
      <itemcol>
        <word>PECTACLES</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\RSTC.3027\Catalog\slika~Honeywell Catalog 2013 2014.pdf</filepath>
        <Paragraphs>PECTACLES </Paragraphs>
      </itemcol>
    </collection>
  </value>
  <key>MIRACLE</key>
  <value>
    <collection>
      <itemcol>
        <word>MIRACLE</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\RSTC.3027\MATERIAL SAFETY DATA SHEET\Natural Miracle MSDS English.pdf</filepath>
        <Paragraphs>MIRACLE</Paragraphs>
      </itemcol>
    </collection>
  </value>
  <key>PENTACLE</key>
  <value>
    <collection>
      <itemcol>
        <word>PENTACLE</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\RSTC.3027\MATERIAL SAFETY DATA SHEET\Pentacle MSDS English.pdf</filepath>
        <Paragraphs>PENTACLE</Paragraphs>
      </itemcol>
    </collection>
  </value>
  <key>NACL</key>
  <value>
    <collection>
      <itemcol>
        <word>NACL</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\RSTC.3027\MATERIAL SAFETY DATA SHEET\www.santos.com-Gunnedah_MSDS_Salt_Rheochem.pdf</filepath>
        <Paragraphs>  FLOSSY SALT   NACL MSDS Date    July      NOT CLASSIFIED AS HAZARDOUS ACCORDING TO NOHSC CRITERIA    HAZARDS IDENTIFICATION NOT CLASSIFIED AS A DANG</Paragraphs>
      </itemcol>
      <itemcol>
        <word>NACL</word>
        <filepath>\\192.168.2.2\00 - Departments\Common\scan\RSTC.3027\MATERIAL SAFETY DATA SHEET\www.santos.com-Gunnedah_MSDS_Salt_Rheochem_001.pdf</filepath>
        <Paragraphs>  FLOSSY SALT   NACL MSDS Date    July      NOT CLASSIFIED AS HAZARDOUS ACCORDING TO NOHSC CRITERIA    HAZARDS IDENTIFICATION NOT CLASSIFIED AS A DANG</Paragraphs>
      </itemcol>
    </collection>
  </value>
</dictionary>